.class1{
    font-size: 30px;
    background-color:yellow;

}

.class2{text-align: center;

color: brown;
}
#id1{
    color: green;
}
h1{
    font-size: 50px;
    color: brown;
}
.c1{
    color: brown;
}
#i1{
    color: brown;
}
h1{
    color: brown;
}